*{
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

nav.navbar.navbar-default{
    background-color: #999999;
  border-radius: 0;
  border: 0;
  border: 2px solid black;
}

span.icon-bar{
  border: 2px solid black;
}

button.navbar-toggle.collapsed{
  border: 2px solid black;
  margin-top: 15px;
}

.navbar-brand h1 {
  position: relative;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  line-height: .75;
}

#nav-list {
  margin-top: 0px;
  padding: 0px;
  margin-bottom: 0px;
}
#nav-list a {
  color: #000;
  background: #fff;
  font-size: 1.3em;
  text-align: center;
  border: 2px solid black;
}
#nav-list a:hover {
  background: #999999;
}

}
#heading{
  margin-top: 40px;
}

#chicken, #beef, #sushi{
  color: #000;
  padding: 0px 20px 5px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.category-title{
  background: #999999;
}

